{{template "base" .}}
{{define "title"}}Home{{end}}
{{define "main"}}
    <h2>Latest Films</h2>
    {{if .Snippets}}
        <table>
            <tr>
                <th>Name</th>
                <th>Time</th>
                <th>Count of tickets</th>
            </tr>
            {{range .Snippets}}
                <tr>
                    <td><a href='/film/{{.ID}}'>{{.Name}}</a></td>
                    <td>{{humanDate .Time}}</td>
                    <td>{{.Count}}</td>
                </tr>
            {{end}}
        </table>
    {{else}}
        <p>There's nothing to see here... yet!</p>
    {{end}}
{{end}}
