{{template "base" .}}
{{define "title"}}Snippet #{{.Snippet.ID}}{{end}}
{{define "main"}}
    {{with .Snippet}}
        <div class='snippet'>
            <div class='metadata'>
                <strong>{{.Name}}</strong>
                <span>#{{.ID}}</span>
            </div>
            <pre><code>{{.Description}}</code></pre>
            <div class='metadata'>
                <time>Time holding : {{humanDate .Time}}</time>
            </div>
            <form action='/film/{{.ID}}' method='POST'>
                <div>
                    <input type='submit' value='Buy ticket'>
                </div>
            </form>
        </div>
    {{end}}
{{end}}
